html, body {
    height: 100%;
    width: 100%;

    background-color: #59bfff;
}

.form-style {
    margin-left: 25%;
    color:white;
    margin-top: 2%;

}

a {
    color:white;
}

.a-style {
    margin-top: 2%;
}