
html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+1,7db9e8+66 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 1%, rgba(125,185,232,1) 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(125,185,232,1) 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(125,185,232,1) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

.widget {

    height: 95%;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    float: left;
    background-color: #f17e7f;

    border-radius: 20px;
}

.inner-text {
    color: white;
    font-family: sans-serif;

    overflow: hidden;

    font-family:sans-serif;
    padding: 1%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*text that displays the temperature*/
.inner-text-large-temp {
    /*font-size: 12em;*/
    margin-left: 25%;

    font-size: 10vw;

}



/*
This is the css that describes the inner widget composition
*/
.inner-header {

    /*background-color: green;*/
    height: 6%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.inner-header-text {
    padding: 1%;
    padding-left: 2%;
    font-size: 14px;

}


.inner-mid-lg {
    color:white;
    /*background-color: #259fff;*/
    height: 40%;
    width: 100%;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.inner-mid-md {
    color:white;
    background-color: #2e3335;
    height: 50%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-mid-md-text {
    margin-left: 10%;
    margin-top: 5%;
    padding: 5%;
    font-size: 2vw;
}

.inner-footer {
    color:white;
    background-color: #2e3335;
    height: 4%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-footer-text {
    padding-left: 2%;
}


.login {

    /*width: 500px;*/
    /*height: 400px;*/
    border-radius: 20px;
    width: 25%;
    height: 25%;
    background-color: #2e3335;
    float:left;
    margin: 2% 1% 2% 2%;

    min-width: 320px;
    max-width: 1000px;
}

.form-style
{
    width: 100%;
    height: 100%
}

.form-style-detail {
    margin-left: 20%;
    margin-top: 5%;
    color: white;
}

.signup {
    display: inline-block;
    padding-left: 5%;
}

#login {

}


input {
    border-radius: 5px;
    width: 60%;
    height: 20px;
    color:black;
}

input#submit {
    width: 20% !important;
    background-color: black;
    color: white;

}

input:focus {
    border-color: #405bff;
    border-radius: 5px;
}


a {
    color:white;
}

.input-margin
{
    margin-top: 5%;
    margin-bottom: 5%;

}

#powered {
    font-size: 10px !important;
    padding-left: 5%;
    padding-top: 5%;
}