
html, body {
    height: 100%;
    width: 100%;
    margin: 0;



    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+1,7db9e8+66 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 1%, rgba(125,185,232,1) 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(125,185,232,1) 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 1%,rgba(125,185,232,1) 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}

.widget {

    height: 90%;
    width: 25%;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 2%;
    float: left;
    background-color: #f17e7f;

    border-radius: 20px;

    min-width: 320px;
}

.inner-text {
    color: white;
    font-family: sans-serif;


    font-family:sans-serif;
    padding: 1%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*text that displays the temperature*/
.inner-text-large-temp {
    /*font-size: 12em;*/
    margin-left: 25%;

    font-size: 5vw;
    margin-top: 25%;

}

/*
This is the css that describes the inner widget composition
*/
.inner-header {

    /*background-color: green;*/
    height: 6%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.inner-header-text {

    padding-left: 3%;
    padding-top: 3%;
    font-size: 14px;
}


.inner-mid-lg {
    color:white;
    /*background-color: #259fff;*/
    height: 40%;
    width: 100%;
    font-size: 5px;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.inner-mid-md {
    color:white;
    background-color: #2e3335;
    height: 50%;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-mid-md-text {
    margin-left: 10%;
    margin-top: 5%;
    padding: 5%;
    font-size: 2vw;
}

.inner-footer {
    color:white;
    background-color: #2e3335;
    height: 4%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner-footer-text {
    padding-left: 2%;
}


.login {

    /*width: 500px;*/
    /*height: 400px;*/
    border-radius: 20px;
    width: 25%;
    height: 25%;
    background-color: #2e3335;
    float:left;
    margin: 2% 1% 2% 2%;

    min-width: 320px;
    max-width: 1000px;
}

.form-style
{
    width: 100%;
    height: 100%
}

.form-style-detail {
    margin-left: 20%;
    margin-top: 5%;
    color: white;
}

.signup {
    display: inline-block;
    padding-left: 5%;
}


.input-margin
{
    margin-top: 5%;
    margin-bottom: 5%;
}

#powered {
    font-size: 10px !important;
    padding-left: 5%;
    padding-top: 5%;
}

#test {
    color: green;
}

.bg-one {
    background-color: #F07E7F !important;
}

.bg-two {
    background-color: #367DB4 !important;
}

.bg-three {
    background-color: #79B7AE !important;
}

.logout {
    position: fixed;

    margin-left: 92%;
    background-color: #2e3335;

    opacity: 0.7;
}

a {
    color:white;
}

.logout:hover {
    opacity: 1;
}


/*styling for add new location*/

.widget-new {
    background-color: #c9c9c9 !important;
    min-width: 320px;

}

#widget-new-border {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(57, 57, 57, 0.92);
}

#special-rad {
    border-radius: 20px;
}

#special-text {
    color: rgba(57, 57, 57, 0.92);
    font-family: sans-serif;
    margin-left:35%;
    font-size: 15vw;

}


#special-text:hover {
    color: rgba(36, 36, 36, 0.91);
    font-family: sans-serif;
    margin-left:35%;
    font-size: 15vw;

}

#link:hover {
    border-color: green;

}